#tools{
    position: absolute;
    top: 200px; /* Distância do topo da tela */
    left: 80px; /* Distância da esquerda da tela */
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 16px;
    font-family: "Playfair Display";
    color: black;
}

.icon-container {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones */
    flex-wrap: wrap; /* Permite que os ícones quebrem para a linha abaixo se necessário */
    justify-content: center; /* Centraliza os ícones horizontalmente */
}

.icon-container div {
    display: flex;
    align-items: center;
}

.icon-container i {
    margin-right: 8px;
    font-size: 24px; /* Tamanho dos ícones */
}

.icon-container span {
    font-size: 18px; /* Tamanho do texto */
}

.logo{
    width: 80px; /* Define a largura da imagem */
    height: 80px; /* Define a altura da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorcer */
    display: block; /* Remove espaço em branco ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}